html {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

th {
    writing-mode: vertical-lr;
}

#essence-keywords li:not(:nth-child(-n+5)) {
    display: none;
}

li {
    width: 50%;
}

li form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.radio-controls {
    display: flex;
    gap: 0.5rem;
    border: none;
}

.keyword-text, .repo-name {
    text-align: start;
    justify-self: start;
}

table.dataTable tbody th, table.dataTable tbody td, td, th {
    padding: 2px !important; /* Override the default styling of DataTables */
    margin: 0 !important; /* Override the default styling of DataTables */
    text-align: center;
}
