html {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

th {
    writing-mode: vertical-lr;
}

th.sort-asc::after {
    content: " ▲";
}

th.sort-desc::after {
    content: " ▼";
}

th::after {
    margin-left: 4px;
}

#first-table-cell {
    writing-mode: lr;
}
