html {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

th {
    writing-mode: vertical-lr;
}

th.sort-asc::after {
    content: " ▲";
}

th.sort-desc::after {
    content: " ▼";
}

th::after {
    margin-left: 4px;
}

#first-table-cell {
    writing-mode: lr;
}

#essence-keywords li:not(:nth-child(-n+5)) {
    display: none;
}

li {
    width: 50%;
}

li form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.radio-controls {
    display: flex;
    gap: 0.5rem;
    border: none;
}

.keyword-text {
    text-align: start;
    justify-self: start;
}