version: 2

updates:

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    assignees:
      - ozgurakgun
    groups:
      all:
        patterns:
          - '*'
    labels:
      - "dependencies"
      - "dependencies::rust"

  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: weekly
    assignees:
      - ozgurakgun
    labels:
      - "dependencies"
      - "dependencies::submodules"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    assignees:
      - ozgurakgun
    labels:
      - "dependencies"
      - "dependencies::ci"

  - package-ecosystem: pip
    directory: /tools/essence-feature-usage-stats/
    schedule:
      interval: monthly
    assignees:
      - ozgurakgun
    groups:
      pip-essence-feature-usage-stats:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "dependencies::python"
