[submodule "solvers/minion/vendor"]
  path = crates/minion-sys/vendor
  url = https://github.com/minion/minion
  branch = main 
  ignore = dirty

[submodule "vendor/z3"]
    branch = z3-4.15.3
	path = vendor/z3
	url = https://github.com/Z3Prover/z3.git
