[submodule "crates/minion-sys/vendor"]
	path = crates/minion-sys/vendor
  url = https://github.com/minion/minion
  branch = main 
  ignore = dirty

[submodule "crates/conjure-cp-core/z3.rs.vendor"]
	path = crates/conjure-cp-core/z3.rs.vendor
	url = https://github.com/prove-rs/z3.rs
  branch = main 
  ignore = dirty
