[submodule "minion-bindings/vendor"]
	path = solvers/minion/vendor
	url = https://github.com/minion/minion
[submodule "solvers/chuffed/vendor"]
	path = solvers/chuffed/vendor
	url = https://github.com/Kieranoski702/chuffed
