[workspace]
resolver = "2"

default-members = [
    "conjure_oxide",
    "crates/conjure_core",
    "solvers/kissat",
    "solvers/minion",
]

members = [
    "conjure_oxide",
    "crates/conjure_core",
    "crates/enum_compatability_macro",
    "crates/conjure_macros",
    "solvers/kissat",
    "solvers/minion",
    "crates/treesitter-example",
    "crates/tree_morph",
]

[workspace.lints.clippy]
unwrap_used = "warn"
expect_used = "warn"
wildcard_imports = "warn"

[profile.dev]
codegen-units = 1

[profile.release]
codegen-units = 1
