[workspace]
resolver = "2"

default-members = ["conjure_oxide", "crates/conjure_core", "solvers/minion"]

members = [
    "conjure_oxide",
    "crates/conjure_core",
    "crates/conjure_rules",
    "crates/conjure_essence_parser",
    "crates/conjure_essence_macros",
    "crates/enum_compatability_macro",
    "crates/conjure_rule_macros",
    "solvers/minion",
    "crates/tree-sitter-essence",
    "crates/tree_morph",
]

[workspace.lints.clippy]
unwrap_used = "allow"
expect_used = "allow"
wildcard_imports = "warn"
