black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
gitdb==4.0.12
GitPython==3.1.49
idna==3.13
Jinja2==3.1.6
MarkupSafe==3.0.3
mypy-extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
python-dotenv==1.2.2
requests==2.33.1
ruff==0.15.12
smmap==5.0.3
tqdm==4.67.3
urllib3==2.6.3
