[package]
name = "tree-sitter-essence"
description = "WIP parser for essence"
version = "0.1.0"
authors = ["Leia McAlister-Young <l.mcalisteryoung@gmail.com>"]
license = "Mozilla Public License"
readme = "README.md"
keywords = ["incremental", "parsing", "tree-sitter", "essence"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/tree-sitter/tree-sitter-essence"
edition = "2021"
autoexamples = false

build = "bindings/rust/build.rs"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*"]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter-language = "0.1"

[build-dependencies]
cc = "1.1.22"

[dev-dependencies]
tree-sitter = "0.24.3"
