[package]
name = "conjure_rules_proc_macro"
version = "0.1.0"
edition = "2021"

[lib]
proc_macro = true

[dependencies]
quote = "1.0.34"
syn = { version = "2.0.53", features = ["full"] }
proc-macro2 = "1.0.79"
linkme = "0.3.25"

[lints]
workspace = true
