[package]
name = "conjure_oxide"
version = "0.0.1"
edition = "2021"
default-run = "conjure_oxide"

# these are available inside build.rs
[build-dependencies]
walkdir = "2.4.0"

[dependencies]
conjure_core = {path = "../crates/conjure_core" }
conjure_rules = {path = "../crates/conjure_rules" }

serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
serde_with = "3.5.0"
thiserror = "1.0.56"
minion_rs = {path = "../solvers/minion" }
anyhow = "1.0.79"
clap = { version = "4.4.18", features = ["derive"] }
strum_macros = "0.25.3"
strum = "0.25.0"
versions = "6.1.0"
linkme = "0.3.22"

[lints]
workspace = true
