[package]
name = "conjure_oxide"
version = "0.0.1"
edition = "2021"
default-run = "conjure_oxide"

# these are available inside build.rs
[build-dependencies]
walkdir = "2.5.0"

[dependencies]
conjure_core = { path = "../crates/conjure_core" }
minion_rs = { path = "../solvers/minion" }


uniplate = "0.1.2"
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"
serde_with = "3.11.0"
thiserror = "2.0.3"
anyhow = "1.0.93"
clap = { version = "4.5.21", features = ["derive"] }
strum_macros = "0.26.4"
strum = "0.26.3"
versions = "6.3.0"
linkme = "0.3.31"
walkdir = "2.5.0"
regex = "1.11.1"
log = "0.4.22"
env_logger = "0.11.5"
structured-logger = "1.0.3"
schemars = "0.8.21"
toml = "0.8.19"
glob = "0.3.1"
rand = "0.8.5"
tracing-appender = "0.2"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["ansi", "env-filter", "json"] }
tracing = "0.1.40"
tree-sitter = "0.24.3"
tree-sitter-language = "0.1"
tree-sitter-essence = { version = "0.1.0", path = "../crates/tree-sitter-essence" }
tree-sitter-haskell = "0.23.0"

[features]

default = ["extra-rule-checks"]
extra-rule-checks = ["conjure_core/extra-rule-checks"]
unstable = []
unstable-solver-interface = ["unstable"]

[lints]
workspace = true

[dev-dependencies]
itertools = "0.13.0"
pretty_assertions = "1.4.1"
