[package]
name = "conjure_oxide"
version = "0.0.1"
edition = "2021"
default-run = "conjure_oxide"

# these are available inside build.rs
[build-dependencies]
walkdir = "2.5.0"

[dependencies]
conjure_core = { path = "../crates/conjure_core" }
minion_rs = { path = "../solvers/minion" }


uniplate = "0.2.2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_with = "3.12.0"
thiserror = "2.0.12"
anyhow = "1.0.97"
clap = { version = "4.5.31", features = ["derive"] }
strum_macros = "0.27.1"
strum = "0.27.1"
versions = "6.3.2"
linkme = "0.3.32"
walkdir = "2.5.0"
regex = "1.11.1"
log = "0.4.26"
env_logger = "0.11.6"
structured-logger = "1.0.3"
schemars = "0.8.22"
toml = "0.8.20"
glob = "0.3.2"
rand = "0.9.0"
tracing-appender = "0.2"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = [
    "ansi",
    "env-filter",
    "json",
] }
tracing = "0.1.41"
tree-sitter = "0.24.7"
tree-sitter-essence = { version = "0.1.0", path = "../crates/tree-sitter-essence" }
tree-sitter-haskell = "0.23.0"
git-version = "0.3.9"
project-root = "0.2.2"

[features]

default = ["extra-rule-checks"]
extra-rule-checks = ["conjure_core/extra-rule-checks"]
unstable = []
unstable-solver-interface = ["unstable"]

[lints]
workspace = true

[dev-dependencies]
itertools = "0.14.0"
pretty_assertions = "1.4.1"
