[package]
name = "conjure_oxide"
version = "0.0.1"
edition = "2021"
default-run = "conjure_oxide"

# these are available inside build.rs
[build-dependencies]
walkdir = "2.4.0"

[dependencies]
conjure_core = {path = "../crates/conjure_core" }
conjure_rules = {path = "../crates/conjure_rules" }

serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
serde_with = "3.6.1"
thiserror = "1.0.57"
minion_rs = {path = "../solvers/minion" }
anyhow = "1.0.80"
clap = { version = "4.5.1", features = ["derive"] }
strum_macros = "0.26.1"
strum = "0.26.1"
versions = "6.1.0"
linkme = "0.3.22"
walkdir = "2.4.0"
itertools = "0.12.1"

[features]

unstable = []
unstable-solver-interface = ["unstable"]

[lints]
workspace = true
