[package]
name = "conjure_oxide"
version = "0.0.1"
edition = "2021"
default-run = "conjure_oxide"

# these are available inside build.rs
[build-dependencies]
walkdir = "2.5.0"

[dependencies]
conjure_core = { path = "../crates/conjure_core" }
conjure_rules_proc_macro = { path = "../crates/conjure_macros" }
uniplate = { path = "../crates/uniplate" }
uniplate_derive = { path = "../crates/uniplate_derive" }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
serde_with = "3.7.0"
thiserror = "1.0.58"
minion_rs = { path = "../solvers/minion" }
anyhow = "1.0.81"
clap = { version = "4.5.3", features = ["derive"] }
strum_macros = "0.26.2"
strum = "0.26.2"
versions = "6.2.0"
linkme = "0.3.22"
walkdir = "2.5.0"
itertools = "0.12.1"
regex = "1.10.3"
log = "0.4.21"
structured-logger = "1.0.3"

[features]

unstable = []
unstable-solver-interface = ["unstable"]

[lints]
workspace = true
