# Configuration for md-dead-link-check tool
[tool.md_dead_link_check]
timeout = 5
# For some reason this link returns a 400 even though its valid. We can guarantee it will never cease to exist.
# Because of crates.io standard registry policy of immutability, as seen here: https://doc.rust-lang.org/cargo/reference/publishing.html
exclude_links = ["https://crates.io/crates/uniplate/0.2.1"] 