[package]
name = "conjure_rules_proc_macro"
version = "0.1.0"
edition = "2021"

[lib]
proc_macro = true

[dependencies]
quote = "1.0.34"
conjure_core = {path= "../conjure_core"}
syn = { version = "2.0.43", features = ["full"] }

[lints]
workspace = true
