<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essence feature usage stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
    {% block stylesheets %} {% endblock %}
</head>
<body>
    <h1> Essence feature usage stats </h1>

    <nav id="navbar">
        <ul>
            {% block nav %}{% endblock %}
        </ul>
    </nav>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
