<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essence feature usage stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <h1> Essence feature usage stats </h1>

    <nav id="navbar">
        <ul>
            {% block nav %}{% endblock %}
        </ul>
    </nav>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <div id="footer">
        {% block footer %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
