<section>
    <div id="repo-list">
        {% set stats = data['essence_stats'] %}
        {% set repos = stats.get_essence_repo_names(depth=2) %}

        <h2>Essence repos:</h2>
        <ol id="essence-repos">
            {% for repo in repos %}
                <li>
                    <form>
                        <span class="repo-name">
                            {{ repo }}
                        </span>
                        <span class="repo-show-control">
                            Show: <input type="checkbox" class="repo-checkbox" repo="{{ repo }}" checked>
                        </span>
                    </form>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>
