<table border="1" id="sortable-table">
    {% set stats = data['essence_stats'] %}
    {% set keywords = stats.get_essence_keywords(sort_mode='most-used') %}
    {% set files = stats.get_essence_files(sort_mode='most-lines', reverse=False) %}
    <thead>
    <tr>
        <th id="first-table-cell">Essence File</th>
        {% for essence_keyword in keywords %}
            <th class="sort-none" data-column="{{ essence_keyword.name }}">{{ essence_keyword.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr hide_filters="0">
            <td n_lines="{{ file.n_lines }}">{{ file.get_str_path(depth=2) }}</td>
            {% for essence_keyword in keywords %}
                {% set n_uses = file.get_uses(essence_keyword.name) %}
                {% set colour = essence_keyword.get_colour(n_uses).as_hex() %}
                <td bgcolor="{{ colour }}"
                    min_uses="{{ essence_keyword.min_usages }}"
                    max_uses="{{ essence_keyword.max_usages }}"
                    avg_uses="{{ essence_keyword.avg_usages }}"
                    num_files_using_feature="{{ essence_keyword.num_files_using_feature }}"
                    total_uses="{{ essence_keyword.total_usages }}"
                    file_path="{{ file.path }}"
                >
                    {{ n_uses }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>