<table border="1" id="data-table">
    {% set stats = data['essence_stats'] %}
    {% set keywords = stats.get_essence_keywords(sort_mode='most-used') %}
    {% set files = stats.get_essence_files(sort_mode='most-lines', reverse=False) %}
    <thead>
    <tr>
        <th>Essence File</th>
        <th>File Size (LOC)</th>
        <th>Essence File Repo</th>
        {% for essence_keyword in keywords %}
            <th>{{ essence_keyword.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr>
            <td>{{ file.get_str_path(depth=3) }}</td>
            <td>{{ file.n_lines }}</td>
            <td>{{ file.get_repo_name(depth=2) }}</td>
            {% for essence_keyword in keywords %}
                {% set n_uses = file.get_uses(essence_keyword.name) %}
                {% set colour = essence_keyword.get_colour(n_uses).as_hex() %}
                <td bgcolor="{{ colour }}">{{ n_uses }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });
</script>
