name: "Hygiene"

on:
  push:
    branches:
      - main # run for pushes to the main branch. other branches need to create a PR if they want testing.
    paths:
      - crates/**
      - tests-integration/**
      - Cargo.*
      - rust-toolchain.toml
      - .github/workflows/hygiene.yml
  pull_request:
    paths:
      - crates/**
      - tests-integration/**
      - Cargo.*
      - rust-toolchain.toml
      - .github/workflows/hygiene.yml
  workflow_dispatch:

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_VERSION: 5
  CARGO_INCREMENTAL: "0"
  # we define the following 3 values as the defaults here, matrix jobs may overwrite their values.
  os: ubuntu-latest
  rust_release: stable
  compiler_profile: debug

jobs:
  Check:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v5

      - name: "Install rust-toolchain.toml"
        run: rustup toolchain install

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          shared-key: ${{ env.os }}--${{ env.rust_release }}--${{ env.compiler_profile }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - run: make EXTRA_CARGO_CHECK_FLAGS=-v check
