name: "conjure-oxide"

on:
  push:
    branches:
      - main # run for pushes to the main branch. other branches need to create a PR if they want testing.
    paths: 
      - conjure_oxide/**
      - Cargo.*
      - .github/workflows/oxide.yml
  pull_request:
    paths: 
      - conjure_oxide/**
      - Cargo.*
      - .github/workflows/oxide.yml
  workflow_dispatch:


jobs:

  Job:

    strategy:
      matrix:
        rust_release:
          - stable
          - nightly
        conjure_version:
          - 2.5.1
        os:
          - ubuntu-latest
          - macos-latest
        include:
          - os: ubuntu-latest
            release_suffix: linux
          - os: macos-latest
            release_suffix: macos-intel

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target
            solvers/minion/vendor
            solvers/chuffed/vendor
            conjure-v${{ matrix.conjure_version }}-${{ matrix.release_suffix }}-with-solvers

          key: ${{ runner.os }}-${{ matrix.rust_release }}-${{ github.event.repository.updated_at }}
          restore-keys: ${{ runner.os }}-${{ matrix.rust_release }}

      - working-directory: ./conjure_oxide
        run: rustup update ${{ matrix.rust_release }} && rustup default ${{ matrix.rust_release }}

      - working-directory: ./conjure_oxide
        run: cargo build -vv

      - name: Add conjure to PATH
        run: echo "$(pwd)/conjure-v${{ matrix.conjure_version }}-${{ matrix.release_suffix }}-with-solvers" >> ${GITHUB_PATH}

      - name: Install conjure
        run: |
          if [ "$(conjure --version | head -n2 | tail -n1)" == "Release version ${{ matrix.conjure_version }}" ]; then
            echo "Found conjure, not fetching again."
          else
            echo "Did not find conjure, fetching."
            wget https://github.com/conjure-cp/conjure/releases/download/v${{ matrix.conjure_version }}/conjure-v${{ matrix.conjure_version }}-${{ matrix.release_suffix }}-with-solvers.zip
            unzip conjure-v${{ matrix.conjure_version }}-${{ matrix.release_suffix }}-with-solvers.zip
          fi
          conjure --version

      - working-directory: ./conjure_oxide
        run: cargo test
