name: "conjure-oxide"

on:
  push:
    branches:
      - main # run for pushes to the main branch
    paths: 
      - conjure_oxide/**
      - Cargo.*
      - .github/workflows/oxide.yml
  pull_request:
    paths: 
      - conjure_oxide/**
      - Cargo.*
      - .github/workflows/oxide.yml
  workflow_dispatch:

jobs:
  ubuntu:
    name: "Conjure Oxide: Ubuntu Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up cache
        uses: actions/cache@v3
        with:
          path: 
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/            
            solvers/minion/vendor
            solvers/chuffed/vendor

          key: ${{ runner.os }}-stable-${{ github.event.repository.updated_at }}
          restore-keys: ${{ runner.os }}-stable-

      - working-directory: ./conjure_oxide
        run: rustup update stable && rustup default stable

      - working-directory: ./conjure_oxide
        run: cargo build -vv

  mac:
    name: "Conjure Oxide: Mac Build"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up cache
        uses: actions/cache@v3
        with:
          path: 
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/            
            solvers/minion/vendor
            solvers/chuffed/vendor
            
          key: ${{ runner.os }}-stable-${{ github.event.repository.updated_at }}
          restore-keys: ${{ runner.os }}-stable-

      - working-directory: ./conjure_oxide
        run: rustup update stable && rustup default stable

      - working-directory: ./conjure_oxide
        run: rustup target add aarch64-apple-darwin

      - working-directory: ./conjure_oxide
        run: cargo build -vv

  tests:
    name: "Conjure Oxide: Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up cache
        uses: actions/cache@v3
        with:
          path: 
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/            
            solvers/minion/vendor
            solvers/chuffed/vendor
          key: ${{ runner.os }}-stable-${{ github.event.repository.updated_at }}
          restore-keys: ${{ runner.os }}-stable-

      - working-directory: ./conjure_oxide
        run: rustup update stable && rustup default stable
      
      - working-directory: ./conjure_oxide
        run: |
          wget https://github.com/conjure-cp/conjure/releases/download/v2.5.1/conjure-v2.5.1-linux-with-solvers.zip
          unzip conjure-v2.5.1-linux-with-solvers.zip
          echo "$(pwd)/conjure-v2.5.1-linux-with-solvers" >> ${GITHUB_PATH}

      - working-directory: ./conjure_oxide
        run: cargo test


      


