name: Shear

on:
  schedule:
    # run once a week at 10am on Monday
    - cron: "0 10 * * 1"
  pull_request:
    paths:
      - .github/workflows/shear.yml
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: "0"
  # we define the following 3 values as the defaults here, matrix jobs may overwrite their values.
  os: ubuntu-latest
  rust_release: nightly
  compiler_profile: debug

  release_suffix: linux
  conjure_version: 2.5.1

jobs:
  shear:
    name: "cargo-shear"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            ~/conjure
          key: conjure--${{ env.rust_release }}--${{ env.compiler_profile }}--${{ github.event.repository.updated_at }}
          restore-keys: conjure--${{ env.rust_release }}--${{ env.compiler_profile }}

      # Override RUSTUP_TOOLCHAIN to nightly when we are testing with nightly
      # This value is read from the rust-toolchain.toml file otherwise
      - name: Set RUSTUP_TOOLCHAIN
        if: ${{ env.rust_release == 'nightly' }}
        run: echo "RUSTUP_TOOLCHAIN=nightly" >> $GITHUB_ENV

      - name: rustup
        run: rustup update ${{ env.rust_release }} && rustup default ${{ env.rust_release }}

      - run: cargo build -vv --workspace

      - uses: ./.github/actions/install-conjure
        with:
          os_arch: ${{ env.release_suffix }}
          version: ${{ env.conjure_version }}

      - name: install cargo-shear
        run: which cargo-shear || cargo +nightly install cargo-shear

      - name: run cargo-shear
        run: RUSTC_WRAPPER="" cargo +nightly shear --expand
