# Taken directly from the Vale GitHub Action documentation
# https://github.com/marketplace/actions/vale-linter

name: Vale Linter
on:
    pull_request:
        branches:
            - "main" # Runs on each PR back to main.
jobs:
    vale:
        name: Vale Runner
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: errata-ai/vale-action@v2.1.1
              with:
                  # Path to documentation files
                  files: ./docs
                  # Fail immediately when errors are found
                  fail_on_error: true
                  # Apply to all files in the repo, regardless of changes.
                  filter_mode: nofilter
                  # Vale CLI flags: set minimum alert level to error
                  vale_flags: "--minAlertLevel=error --no-wrap"
